@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: #272727;
}

h1 {
    text-transform: uppercase;
}

.sideBar {
    height: 100vh;
    width: 60px;
    background-color: #DD203C;
    position: absolute;
    left: 0;
}

button.theme {
    padding: 12px 13px;
    border-radius: 50%;
    border: none;
    background-color: #272727;
    color: white;
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container div {
    margin: 60px 0;
}

button#microfone {
    padding: 12px 15px;
    border-radius: 50%;
    border: none;
    background-color: #DD203C;
    color: white;
    cursor: pointer;
}

button.active {
    background-color: #791927 !important;
    color: gray !important;
}

input {
    min-width: 300px;
    padding: 12px 15px;
    border: none;
    border-bottom: 1px solid #272727;
    color: #272727;
    background-color: white;
}

input:focus {
    outline: none;
}

#resposta {
    font-size: larger;
    font-weight: bold;
    margin: 0 100px;
}

.dark {
    background-color: #272727;
    color: white;
}

input.dark {
    border-bottom: 1px solid white;
}

button.dark {
    background-color: white;
    color: #272727;
}

